version: 2
jobs:
  test:
    docker:
      - image: rust:1.38
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-cargo-cache-{{ arch }}-{{ .Branch }}
            - v1-cargo-cache-{{ arch }}
      - run:
          name: Show versions
          command: rustc --version && cargo --version
      - run:
          name: Build
          command: cargo build
      - run:
          name: Run tests
          command: cargo test
      - run:
          name: Build (with serde)
          command: cargo build --features serde
      - run:
          name: Run tests (with serde)
          command: cargo test --features serde
      - run:
          name: Run example
          command: cargo run --example parse_file example_data/Switzerland.txt
      - save_cache:
          key: v1-cargo-cache-{{ arch }}-{{ .Branch }}
          paths:
            - target
            - /usr/local/cargo
      - save_cache:
          key: v1-cargo-cache-{{ arch }}
          paths:
            - target
            - /usr/local/cargo
  lint:
    docker:
      - image: rust:1.38
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-cargo-lint-cache
      - run: rustup component add clippy
      - run: cargo clippy --all-targets --all-features -- -D warnings
      - save_cache:
          key: v1-cargo-lint-cache
          paths:
            - /usr/local/cargo

workflows:
  version: 2

  # Build on push
  on_push:
    jobs:
      - test
      - lint

  # Build master every week on Tuesday at 04:00 am
  weekly:
    triggers:
      - schedule:
          cron: "0 4 * * 2"
          filters:
            branches:
              only:
                - master
    jobs:
      - test
      - lint
